//
// This file is part of Rebelle
//
// Created by JC on 12/16/13.
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code
//

IPHONEOS_DEPLOYMENT_TARGET = 6.0
MACOSX_DEPLOYMENT_TARGET = 10.7

ARCHS = $(ARCHS_STANDARD_INCLUDING_64_BIT)
VALID_ARCHS = $(ARCHS_STANDARD_INCLUDING_64_BIT)

SUPPORTED_PLATFORMS[sdk=iphoneos*] = iphoneos iphonesimulator
SUPPORTED_PLATFORMS[sdk=macosx*] = macosx

TARGETED_DEVICE_FAMILY = 1,2 // iPhone, iPad